.Header {
    display: flex;
    flex-direction: column;
}

.Banner {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
        column-gap: .5rem;
    }
}